<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-10">
                <h1 class="display-3  text-white">Upcoming Events
                </h1>
                <hr>
                <span class="lead text-white">
                  <div class="upcoming_events_box">
                    <div class="upcoming_events">
                      <div class="img_class" style="width: 300px;">
                        <img src="../../assets/img/other/BiharDiwasTemp.webp" alt="Bihar Diwas Image">
                        <!-- <p id="source">Source: https://hindi.cdn.zeenews.com/hindi/sites/default/files/2022/03/22/1082460-bihardiwas.png</p> -->
                      </div>
                      <span >
                        <h3 style="color: white;">Bihar Diwas Celebration</h3>
                        <h5 style="color: white;">
                          <b>Date:</b> 16th April 2023
                          <br>
                          <b>Venue:</b>
                          <br>
                          Fremont Downtown Event Center, State Room
                          <br>
                          
                          3500 Capital Avenue, 
                          <br>
                          Fremont, CA 94538
                          
                        </h5>

                        <p>
                          Bihar Diwas, a celebration of the rich culture and heritage of the Indian state of Bihar, is coming to the Bay Area in California! This event will feature a variety of cultural programs, including traditional music and dance performances, as well as an art gallery showcasing the works of local artists.
<br><br>
In addition to the cultural program, there will also be a variety of social events, including a community dinner and a networking event for members of the Bihar community. This is an excellent opportunity for Bay Area residents to learn more about the culture and traditions of Bihar and to connect with members of the local community.
<br><br>
We invite all members of the Bay Area community to join us in celebrating Bihar Diwas. This is a family-friendly event and all are welcome to attend. Mark the date in your calendar, it will be on [date] and the venue will be [venue]. Don't miss out on this exciting opportunity to celebrate the diversity and richness of the Indian culture!
<br><br>
In addition to the exciting cultural program and social events, we are thrilled to announce that a celebrity guest will be joining us for Bihar Diwas and will be gracing us with their presence and adding an extra touch of glamour to the event.
<br><br>
Join us on the above mentioned date and time for an unforgettable experience of Bihar Diwas in Bay Area, California! We hope to see you there!


                        </p>
                      </span>
                      
                    </div>
                    
                  </div>
                  <!-- <h3>Stay Tuned...</h3> -->
                  <!-- <h2 style="color: rgb(255, 186, 186);">Diwali Celebration 2022</h2>
                  SATURDAY, NOV 12 @ 5:30 - 9:00 PM PT:00 AM PDT <br>
                  Age Well Center; 40086 Paseo Padre Pkwy, Fremont, CA 94538
                  <br><br>
                  <p>
                    Enjoy an evening with food, cultural programs and chit chat with fellow Biharis. 
                    Please purchase tickets for your family members and take the responsibility to bring one more family. 
                    Let’s make this a successful event together!
                    <br><br>
                    Purchase the tickets at <a href="https://tinyurl.com/o2b2diwali" class="link"  target="_blank">Eventbrite</a>
                  </p>
                  <br>
                  <div style="display: flex; flex-direction: column; max-width: 600px; height: auto;">
                    <img src="../../../assets/img/other/IMG_8019.jpeg" alt="DiwaliPoster2022">
                  </div>   -->
               </span>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
  </main>
  