<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-10">
                <h1 class="display-3  text-white">Upcoming Events
                </h1>
                <hr>
                <span class="lead text-white">
                  <div class="upcoming_events_box">
                    <div class="upcoming_events">

                      <h3 class="display-3">Latest Completed Event
                      </h3>
                      
                      <div class="flyer" style="width: auto;">
                        <img src="../../../assets/img/other/Nalanda University.png" alt="Bihar Diwas Image">
                        <!-- <p id="source">Source: https://hindi.cdn.zeenews.com/hindi/sites/default/files/2022/03/22/1082460-bihardiwas.png</p> -->
                      </div>
                      <br>
                      <span >
                        <h3 style="color: white;">Independence Day Parade</h3>
                        <br>
                        <h5 style="color: white;">
                            <b>Date:</b> 20th August 2023
                            <br>
                            <b>Time:</b> 11 AM ~ 1 PM
                            <br>
                            <b>Venue:</b>
                            39439 Paseo Padre Parkway,
                            Fremont, CA 94538
                            <br>
                            <br>
                        </h5>
                        <!-- <a class="link" [routerLink]="['/eventSchedule']">View Event Schedule</a> -->


                        <p>
                          The Independence Day Parade is a wonderful opportunity to come together as a community and commemorate 
                          the rich history and culture of our beloved country. It serves as a heartfelt tribute to our nation's journey
                           towards independence and a chance to showcase our unity and diversity to the world.
                           <br><br>
                           We warmly invite you, your family, and friends to participate in this grand event. Whether you wish to walk 
                           alongside the vibrant parade floats, showcase traditional performances, or simply come along to show support and 
                           enjoy the festivities, your presence will add great value to the occasion.
                           <br><br>
                           This year, we aim to highlight Nalanda University and the immense contributions of the Bihar community to the fabric of our society.
                            It will be a platform to showcase our unique customs, traditions, music, dance, and above all, the spirit of 
                            goodwill that binds us together.
                            <br><br>
                            Aside from the parade, there will be various cultural activities, food stalls, and entertainment for all age groups. 
                            It will be a day filled with joy, laughter, and happy memories. So, mark your calendars, gather your loved ones, and 
                            join us in celebrating our collective pride and patriotism.
                            <br><br>
                            If you would like to participate in any capacity or have any questions regarding the event, please feel free 
                            to contact our organizing committee at <b>orgforbetterbihar@gmail.com.</b> We would be more than happy to assist you
                             and provide further details.
                             <br><br>
                             Let's come together as one community, stand shoulder to shoulder, and make this Independence Day Parade a resounding 
                             success. Your presence will make a difference!
                             <br><br>
                             We look forward to seeing you there!
                             <br>



                        </p>
                      </span>
                      
                    </div>
                    
                  </div>
                  <!-- <h3>Stay Tuned...</h3> -->
                  <!-- <h2 style="color: rgb(255, 186, 186);">Diwali Celebration 2022</h2>
                  SATURDAY, NOV 12 @ 5:30 - 9:00 PM PT:00 AM PDT <br>
                  Age Well Center; 40086 Paseo Padre Pkwy, Fremont, CA 94538
                  <br><br>
                  <p>
                    Enjoy an evening with food, cultural programs and chit chat with fellow Biharis. 
                    Please purchase tickets for your family members and take the responsibility to bring one more family. 
                    Let’s make this a successful event together!
                    <br><br>
                    Purchase the tickets at <a href="https://tinyurl.com/o2b2diwali" class="link"  target="_blank">Eventbrite</a>
                  </p>
                  <br>
                  <div style="display: flex; flex-direction: column; max-width: 600px; height: auto;">
                    <img src="../../../assets/img/other/IMG_8019.jpeg" alt="DiwaliPoster2022">
                  </div>   -->
               </span>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
  </main>
  