<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-10">
                <h1 class="display-3  text-white">Upcoming Events
                </h1>
                <hr>
                <span class="lead text-white">
                  <h2 style="color: rgb(255, 186, 186);">Diwali Celebration 2022</h2>
                  SATURDAY, NOV 12 @ 5:30 - 9:00 PM PT:00 AM PDT <br>
                  Age Well Center; 40086 Paseo Padre Pkwy, Fremont, CA 94538
                  <br><br>
                  <p>
                    Enjoy an evening with food, cultural programs and chit chat with fellow Biharis. 
                    Please purchase tickets for your family members and take the responsibility to bring one more family. 
                    Let’s make this a successful event together!
                    <br><br>
                    Purchase the tickets at <a href="https://tinyurl.com/o2b2diwali" class="link"  target="_blank">Eventbrite</a>
                  </p>
                  <br>
                  <div style="display: flex; flex-direction: column; max-width: 600px; height: auto;">
                    <img src="../../../assets/img/other/IMG_8019.jpeg" alt="DiwaliPoster2022">
                  </div>  
               </span>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
  </main>
  