<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-10">
                <h1 class="display-3  text-white">Bihar Diwas Schedule
                </h1>
                <!-- <h3 style="color: white;"><b>Performances</b></h3> -->
                <h5 style="color: white;">
                  <b>Kids Welcome</b>
                  <br>
                   - Maithili, Aanya, Ojas
                   <br><br>
                  <b>Anchoring</b>
                  <br>
                   - Archana Panda and Rajani Jha
                   <br><br>
                  <b>Kathak Dance (Nupur Dance Academy)</b>
                  <br>
                   - Saanvi Raman
                   <br><br>
                  <b>Shiv Tandav Dance</b>
                  <br>
                   - Avani Shaw
                   <br><br>
                  <b>Anupama Students Kathak Dance (InSync Kathak Dance School)</b>
                  <br>
                   - Aditi Bharambe, Rupashi Bahl, Manya Saxena , Mikhika Deshpande
                   <br><br>
                  <b>Kathak + Boley Re Papihara (Dance)</b>
                  <br>
                   -  Megha Sharma Tanvi Singh Raman 
                   <br><br>
                  <b>Bhojpuri Nirgun Dance</b>
                  <br>
                   - Aadya Raman, Ananya Akkaraju, Inika Arya, Roma Singh, Varshini Viswanathan
                   <br><br>
                   <b>Dashrath Majhi Act</b>
                   <br>
                    - Direction - Minakshi Jha
                    <br>
                    - Performers : Sanjeev Mishra, Jayalakshmi, Amit Jha
                    <br><br>
                    <b>Mithila Folk Dance (Sama Chakewa)</b>
                    <br>
                    - Divya Pandey,Sweta Jha, Sushma Srivastava, Sudha Thakur, Shweta Jha
                    <br><br>
                    <b>Jat Jatin Dance</b>
                    <br>
                     - Rajani Jha + Maithili Vatsa
                     <br><br>
                     <b>Folk Singing</b>
                     <br>
                     - Amit Jha, Raman Jha, shweta Jha, Manisha Pathak
                     <br><br>
                     <b>O2B2 Project Presentation</b>
                     <br>
                      - Puneet 
                      <br><br>
                      <b>Speech by Consul General</b> <br>
                      <b>Speech by Lily Mei (Mayor)</b><br>
                      <b>Volunteers Appreciation</b><br>
                      <b>Honor Invited Guests</b> <br>
                      <b>Honoring kids</b> <br>
                      <b>Honoring Adults</b> <br>
                      <b>Certificate to all performers</b> <br>
                      <b>O2B2 Vote of Thanks</b> <br>
                      <b>Dinner</b> <br>
                </h5>
              </div>

            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
  </main>