<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="team">
        <h1 class="display-3  text-white">Meet the Executive Committee
          <!-- <span>completed with examples</span> -->
        </h1>

        <br><br>

        <div class="execs">

          <div class="card">
              <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
              src="./assets/img/theme/team-4-800x800.jpg" style="width: 200px;">
            
            <div class="textContainer">
              <p class="name">Pepper Potts</p>
              <p class="profile">Profile</p>
            </div>

          </div>

          <div class="card">
              <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
              src="./assets/img/theme/team-4-800x800.jpg" style="width: 200px;">

            <div class="textContainer">
              <p class="name">Pepper Potts</p>
              <p class="profile">Profile</p>
            </div>

          </div>

          <div class="card">
              <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
              src="./assets/img/theme/team-4-800x800.jpg" style="width: 200px;">
            
            <div class="textContainer">
              <p class="name">Pepper Potts</p>
              <p class="profile">Profile</p>
            </div>

          </div>

        </div>

        <br><br>
        <h1 class="display-3  text-white">Meet the Staff</h1>

        <br>

        <div class="staff">
          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>

          <div class="profile-img">
            <img _ngcontent-c11="" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            src="./assets/img/theme/team-4-800x800.jpg" style="width: 170px;">

            <div class="textContainer2">
              <p class="name">Pepper Potts</p>
            </div>

          </div>
        </div>
      </div>



      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
</main>