<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12" class="past_events_box">
                <h1 class="display-3  text-white">Past Events</h1>

                <div class="past_events">
                  <a [routerLink]="['/past-events-bd']">
                  </a>
                  <img class="img-fluid" src="../../../assets/img/other/Nalanda University.png" alt="">

                  <span class="lead text-white">
                      <h3 style="color: rgb(255, 186, 186);">Bihar Float - Independence Day Parade</h3>
                    SUNDAY, AUGUST 20, 2023  <br>
                    39439 Paseo Padre Parkway, Fremont, CA 94538
                  </span>
                  
                </div>

                
                <div class="past_events">
                  <a [routerLink]="['/past-events-bd']">
                    <img class="img-fluid" src="../../../assets/img/other/BiharDiwas.jpeg" alt="">
                  </a>
                  <span class="lead text-white">
                      <h3 style="color: rgb(255, 186, 186);">Bihar Diwas 2023</h3>
                    SUNDAY, APRIL 16, 2023  <br>
                    Fremont Downtown Event Center, State Room, CA 94536, United States
                  </span>
                  
                </div>
                

                <div class="past_events">
                  <img class="img-fluid" src="../../../assets/img/gallery/chhatha2022/chhatha3.jpeg" alt="">
                  <span class="lead text-white">
                    <h3 style="color: rgb(255, 186, 186);">Chhatta Puja 2022 </h3>
                    SUNDAY, OCTOBER 30, 2022  <br>
                    Quarry Lakes, Fremont, CA 94536, United States
                  </span>
                </div>

                <div class="past_events">
                  <img src="../../../assets/img/gallery/parade22/parade1.jpeg" alt="">
                  <span class="lead text-white">
                    <h3 style="color: rgb(255, 186, 186);">Bihar Float in Fremont <br> FOG Independence Day Parade 2022 </h3>
                    SUNDAY, AUGUST 21, 2022 AT 11:00 AM PDT <br>
                    Paseo Padre Pkwy, Fremont, CA 94538, United States
                  </span>
                </div>

                <div class="past_events">
                  <img src="../../../assets/img/gallery/summer-picnic22/20220731_181907.jpeg" alt="">
                  <span class="lead text-white">
                    <h3 style="color: rgb(255, 186, 186);">Summer Picnic 2022 </h3>
                    SUNDAY, JULY 31, 2022 AT 5:30 PM PDT <br>
                    Pleasanton, CA United States
                  </span>
                </div>

                <div class="past_events">
                  <img src="../../../assets/img/gallery/holi22/holi22.JPG" alt="">
                  <span class="lead text-white">
                    <h3 style="color: rgb(255, 186, 186);">
                      Holi Celebration 2022 </h3>
                      SATURDAY, MARCH 26, 2022 <br>
                      Elizabeth Park, Fremont, CA 94538, United States
                  </span>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
  </main>
  