.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -70px;
}

.home_btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_btns a {
    width: 100%;
}

#source {
    font-size: 10px;
}

.upcoming_events_box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.upcoming_events{
    display: flex;
}

.upcoming_events img{
    border-radius: 20px;
    border: 1px solid white;
    height: auto;
    width: 350px;
    object-fit: cover;

}

.upcoming_events span {
    margin-left: 20px;
    margin-top: 0px;
}

.event_info{
    height: 110px;
    max-width: 500px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (max-width: 500px){
    .home_btns{
        flex-direction: column;
    }
    .home_btns a{
        width: 100%;
    }

    .projects{
        align-items: center;
        text-align: center;
    }

    .upcoming_events{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .upcoming_events span {
        padding: 20px;
    }

}