<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12" style="margin-top: -20px;">
              <div class="rounded shadow-lg overflow-hidden bootstrap-slider">
                <ngb-carousel>
                    <ng-template ngbSlide>
                    <!-- <img class="img-fluid" src="../../assets/img/gallery/home/holi_group.jpeg" alt="Second slide"> -->
                    <img class="img-fluid" src="../../assets/img/gallery/home/Group1.jpeg" alt="First slide">
                  </ng-template>
                    <ng-template ngbSlide>
                    <!-- <img class="img-fluid" src="../../assets/img/gallery/home/holi_group.jpeg" alt="Second slide"> -->
                    <img class="img-fluid" src="../../assets/img/gallery/home/CG_Group1.jpeg" alt="Second slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="img-fluid" src="../../assets/img/gallery/home/parade.JPG" alt="Third slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="img-fluid" src="../../assets/img/gallery/home/summer.jpeg" alt="Fourth slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <!-- <img class="img-fluid" src="../../assets/img/gallery/home/holi_group.jpeg" alt="Second slide"> -->
                    <img class="img-fluid" src="../../../assets/img/gallery/chhatha2022/chhatha3.jpeg" alt="Fifth slide">
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>

            <div class="col-lg-12 text-center">
              <!-- <img src="./assets/img/logo/o2b2logo.png" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">Overseas Organization For Better Bihar is an organization in USA , focusing on social economical upliftment of Bihar, working in the field of education, medical facilities , women empowerment, bringing the Art/cultural heritage of Bihar at a global level.</p> -->
              <div class="btn-wrapper mt-5 home_btns">
                <a [routerLink]="['/about']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-archive-2"></i></span>
                  <span class="btn-inner--text">About Us</span>
                </a>
                <a [routerLink]="['/joinus']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-badge"></i></span>
                  <span class="btn-inner--text">Become a Member</span>
                </a>
                <a [routerLink]="['/gallery']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-image"></i></span>
                  <span class="btn-inner--text">Gallery</span>
                </a>
                <a [routerLink]="['/contact']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-envelope"></i></span>
                  <span class="btn-inner--text">
                    <span class="btn-inner--text">Contact Us</span></span>
                </a>
              </div>
              <!-- <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by Atharv Gupta</small>
                <img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;">
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
<br>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <h1>Upcoming Events</h1>
      <br>
      <div class="upcoming_events_box">
        <div class="upcoming_events">
          <div class="img_class">
            <img src="../../assets/img/other/BiharDiwas24.jpeg" alt="Bihar Diwas 2024 Image">
            <!-- <p id="source">Source: https://hindi.cdn.zeenews.com/hindi/sites/default/files/2022/03/22/1082460-bihardiwas.png</p> -->
          </div>
          <span>
            <h3>Bihar Diwas 2024 </h3>
              <br>
            <h5>
              <b>Date:</b> 28th April 2024
              <br>
              <b>Time:</b> 5 PM ~ 6:30 PM
              <br>
              <b>Venue:</b>
              
              Downtown Event Center
              <br>
              3500 Capitol Avenue,
              Fremont, CA 94538
              <!-- <br>
              <a [routerLink]="['/eventSchedule']">View Event Schedule</a>
              <br><br>
              Purchase your tickets at <a href="https://www.eventbrite.com/e/bihar-diwas-celebrations-tickets-526055505177" target="_blank">Eventbrite</a> -->
            </h5>
            <br>
            <div>
              <p class="event_info">
                Bihar Diwas, a celebration of the rich culture and heritage of the Indian state of Bihar, is coming to the Bay Area in California! 
                This event will feature a variety of cultural programs, including traditional music and dance performances, as well as an art gallery
                showcasing the works of local artists.
              </p>
              <a [routerLink]="['/past-events-bd']">Read More</a>
            </div>
            <br>
            <p><b>Buy your tickets <a href="https://www.zeffy.com/en-US/ticketing/5913dc5a-75c3-43c9-b3df-ff66aad4df92" target="_blank">here</a>!</b></p>
          </span> 
        </div>

        
      </div>
      
    </div>

    <br>
    <hr>
    <br>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <h1>Last Completed Events</h1>
      <br>
      <div class="upcoming_events_box">
        <div class="upcoming_events">
          <div class="img_class">
            <img src="../../assets/img/other/Nalanda University.png" alt="Nalanda University Image">
            <!-- <p id="source">Source: https://hindi.cdn.zeenews.com/hindi/sites/default/files/2022/03/22/1082460-bihardiwas.png</p> -->
          </div>
          <span>
            <h3>Bihar Float 
              <br>
              Independence Day Parade</h3>
              <br>
            <h5>
              <b>Date:</b> 20th August 2023
              <br>
              <b>Time:</b> 11 AM ~ 1 PM
              <br>
              <b>Venue:</b>
              
              39439 Paseo Padre Parkway,
              Fremont, CA 94538
              <!-- <br>
              <a [routerLink]="['/eventSchedule']">View Event Schedule</a>
              <br><br>
              Purchase your tickets at <a href="https://www.eventbrite.com/e/bihar-diwas-celebrations-tickets-526055505177" target="_blank">Eventbrite</a> -->
            </h5>
            <br>
            <div>
              <p class="event_info">
                The Independence Day Parade is a wonderful opportunity to come together as a community and commemorate 
                the rich history and culture of our beloved country. It serves as a heartfelt tribute to our nation's journey towards 
                independence and a chance to showcase our unity and diversity to the world.

              </p>
              <a [routerLink]="['/upcomingEvents']">Read More</a>
            </div>
          </span> 
        </div>

        
      </div>
      
    </div>

    <section  class="section section-shaped" style="margin-top: 30px;">
      <div  class="shape shape-style-1 shape-default">
        <span ></span>
        <span ></span><span ></span><span ></span><span
          ></span><span ></span>
      </div>
      <div  class="container py-md">
        <div  class="row justify-content-between">
          <div  class="col-lg-5 mb-5 mb-lg-0 projects">
            <div class="lead text-white mt-4">
              <h1 class="text-white">Our Projects</h1>
              <h5 style="color: white">Charity work organized by O2B2</h5>
            </div>
            <br>
            <div style="color: white;">
              <h3 style="color: white;" >Project: <b>Swasthya Setu</b></h3>
              <h5 style="color: white;">Connecting villages of Bihar to health care services</h5>
            </div>
            <br>
            <div>
              <a [routerLink]="['/activities']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                <span class="btn-inner--text">View All Projects</span>
              </a>
            </div>
          </div>
          <div  class="col-lg-6 mb-lg-auto">
            <div  class="rounded overflow-hidden">
                <img src="../../assets/img/gallery/home/SwasthyaSetu.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div  class="separator separator-bottom separator-skew"><svg 
          preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" xmlns="http://www.w3.org/2000/svg"
          y="0">
          <polygon  class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg></div>
    </section>

  </div>
  <!-- <app-sections></app-sections> -->
</main>