.home_btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_btns a {
    width: 100%;
}

@media only screen and (max-width: 500px){
    .home_btns{
        flex-direction: column;
    }
    .home_btns a{
        width: 100%;
    }
}