<footer [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <!-- <div class="container container-lg" *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/landing']" title="Landing Page">
            <img src="./assets/img/theme/landing.jpg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-lg-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/user-profile']" title="Profile Page">
            <img src="./assets/img/theme/profile.jpg" class="card-img">
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <br><br>
    <div>        
        <div class="row">
          <div class="left-side">
            <div class="contact_info">
              <h1>Contacts</h1>
              <p>
                <i class="ni ni-pin-3"></i>
                40867 Capa Drive, Fremont CA 94539
              </p>
              <p>
                <i class="fa fa-phone"></i>
                +1 (510) - 516 - 0144
              </p>
              <p>
                <i class="fa fa-envelope"></i>
                <a href="mailto:orgforbetterbihar@gmail.com">orgforbetterbihar@gmail.com</a>
              </p>
            </div>

          </div>
          
          <div class="pages">
            <h1>Pages</h1>
            <ul class="pages_list">
              <li class="pages_item">
                <a href='#' class="pages_link" routerLinkActive="active" [routerLink]="['about']">About</a>
              </li>

              <li class="pages_item">
                <a href='#' class="pages_link" routerLinkActive="active" [routerLink]="['team']">Team</a>
              </li>

              <li class="pages_item">
                <a href='#' class="pages_link" routerLinkActive="active" [routerLink]="['joinus']">Join Us</a>
              </li>

              <li class="pages_item">
                <a href='#' class="pages_link" routerLinkActive="active" [routerLink]="['activities']">Projects</a>
              </li>

              <li class="pages_item">
                <a href='#' class="pages_link" routerLinkActive="active" [routerLink]="['contact']">Contact Us</a>
              </li>
            </ul>
          </div>

          <div class="right-side">
            <div class="social_media">
              <h1>Connect With Us</h1>
              <a target="_blank" href="https://twitter.com/O2B2Bihar" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
                <i class="fa fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/OOBetterBihar" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
                <i class="fa fa-facebook-square"></i>
              </a>
            </div>

          </div>
        </div>

        <hr style="margin-bottom: 2px; margin-top: 0px;">

        <div class="bottom">
            <div class="copyright-info">
              &copy; {{test | date: 'yyyy'}}
              <a href="#" target="_blank">O2B2</a>
            </div>

            <div class="bottom-item">
              Atharv Gupta
            </div>

        </div>

      </div>
  </div>

  <br><br><br><br><br>


  

</footer>
